<div class="container">
  <div class="col-md-8 offset-md-2"> 
  <div class="shadow p-3 mb-5 bg-white rounded">
    <div class="row">
      <div class="col-md-12" style="text-align: left;">
        <h2 class="p-3 mb-2 bg-dark text-white">ジャンル情報編集</h2>
       <p id="notice"></p>
        <%= form_with model: @genre, url: admins_genres_path, method: :patch do |f| %>
        <form>
          <table class="table table-borderless">
           <tr><div class="form-group", style="text-align: left;",>
            <tr><td><%= f.label :ジャンル名, class: "mr-3" %></td>
                <td><%= f.text_area :genre %></td></tr>
              </div>
           </tr>
          </table>
         <div class="form-group" style="text-align: center;">
           <p id="notice"></p>
             <%= f.submit ' 変更を保存 ' , class: "btn btn-outline-success" %> 
         </div>
        </form>
        <% end %>
      </div>
    </div>
  </div>
  </div>
</div>

