 
 
 <div class="row">
         <div class="col-12">
         <div class="card-img-overlay">
            <h1 class="font-weight-bold text-white" style="text-align: center; margin-top: 300px;">
            <i class="fas fa-birthday-cake"></i> Movie_fan
            </h1>
         </div>
         </div>
         </div>
         <div class="col-md-10 offset-md-1">
           
         
         <h2><%=   flash[:user]  %></br>
<div class="row">
  <div class="col-md-8 offset-md-2"style="margin-top: 100px;">
    <div class="d-flex justify-content-center">
      
      <%= image_tag 'movie.png', width: '60%', height: '60%' %>
    </div>
    <div class="text-center">
      
      
      <h3 class=my-5>
        </br>
        このサイトでは作品についてのレビューを投稿したり</br>
        他の方が投稿したレビューを見る事が出来ます。</br>
      　※レビューを投稿するには会員登録が必要となります。
      </h3>
    </div>      
  </div>
</div>
    