 
 
 <div class="row">
         <div class="col-12">
         <div class="card-img-overlay">
            <h1 class="font-weight-bold text-white" style="text-align: center; margin-top: 300px;">
            <i class="fas fa-birthday-cake"></i> Movie_fan
            </h1>
         </div>
         </div>このサイトでは色々な作品
         </div>
         <div class="col-md-10 offset-md-1">
  <div class="top"style="margin-top: 30px;">
    <h1 class=" text-left my-5">New movie List</h1>
    <div class="d-flex flex-wrap justify-content-around">